@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

body {
  margin: 0;
  font-family: 'Hind', sans-serif;
  background-color: lightpink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pink-text {
  margin: 30px auto;
  font-size: 40px;
  width: 600px;
  background: rgb(131,58,180);
  background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,111,1) 50%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
